{% assign collection = collections['featured-collection'] %}

{{ collection.title }}


<ul> 
  {% for product in collection.products %}
  	<li>
      <a href="{{product.url}}">
      	{{ product.title }} - {{ product.price | money }} - {{ product.available }}
      </a>
      
  </li>
  {% endfor %} 
</ul>
